html {
    --background: #222;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
    background: #444;
}
::-webkit-scrollbar-thumb {
    background: #000;
}
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
path {
    transition: stroke 1s, filter 1s;
    stroke-width: 1em;
}
text {
    transition: filter 1s, fill 1s;
    filter: drop-shadow(black 0px 0px 2px);
}
#view {
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
#players-chart {
    overflow: hidden;
    padding: 0.5em;
}
#sidebar > #player-list-container {  
    flex:  1;
    overflow-y: scroll;
    padding: 0;
}
#sidebar > div {
    padding: 0.5em;
}
#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}
svg {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}